@import "fonts.scss";

$mainColor:#000;
$secondColor:#29e2c3;
$thirdColor:#fff;

*,
html,
body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.page{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    width: 100%;
    height: auto;
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 70px;
        &__header{
            display: flex;
            height: 100%;
        }
        &__btn-bars{
            background-color: transparent;
            border: none;
            display: none;
            padding: 0 2em;
            transition: 0.6s all;
            &:hover{
                color: $secondColor;
            }
            &:not(:hover){
                transition: 0.6s all;
            }
        }
        &__btn-bars-delete{
            display: none;
        }
        &__logo{
            width: 70px;
            height: auto;
            display: flex;
            img{
                width: 100%;
                align-items: center;
                height: auto;
            }
        }
        &__menu{
            display: flex;
            flex-wrap: nowrap;
            z-index: 2;
        }
        &__menu-item{
            display: block;    
            display: flex;   
            list-style-type: none;
            align-items: center;
            a{
                padding: 0 2em;
                height: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;           
                font-weight: 300;
                font-size: 1.1em;
                color: $mainColor;    
                &:hover{
                    color: $secondColor;
                    
                }            
            }
        }
        &__close{
            width: 40%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: -40%;
            z-index: 2;
            transition: 0.6s all;
            background-color: rgb(8, 8, 8, 0.5);
            cursor: pointer;
            &:hover i{
                transition: 0.8s;
                color: $secondColor;  
            }
            &:not(:hover) i{
                transition: 0.8s;
            }
            i{
                font-size: 5em;
                color: $thirdColor;
            }
        }
    }
}
@media(max-width:768px){
header{
    .navbar{
            &__menu{
                display: flex;
                flex-direction: column; 
                justify-content: center;
                width: 60%;
                height: 100vh;
                position: fixed;
                top:0;
                background-color: $secondColor;
                right: -60%;
                transition: 0.6s all;
            }
            &__btn-bars{
                display: block;
            }
            &__menu-active{
                right: 0;
            }
            &__close-active{
                left: 0;
            }
            &__menu-item{
                display: flex;          
                padding: 0em;
                justify-content: center;
                list-style-type: none;
                border-right:none;            
                a{
                    color: $thirdColor;   
                    padding: 2em; 
                    justify-content: center;  
                    width: 100%; 
                    text-align: center;   
                    &:hover{
                        background-color: $thirdColor;
                        color: $mainColor;
                    }    
                }
            }
        }
    }
}
main{
    width: 100%;  
    flex-grow: 2; 
    
    .header{
        width: 100%;
        height: calc(100vh - 70px);
        background: url(../img/background.jpg) 0 0/cover no-repeat fixed;
        position: relative;
        &__cover{
            background: url(../img/pattern.png) #128cff20;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &__content{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;    
        }
        &__title{   
            display: flex;  
            z-index: 1; 
            text-align: center;
            h1{
                font-size: 2em;
                font-weight: 700;
                color:$thirdColor;
            }
        }
        &__subtitle{
            z-index: 1; 
            h3{
                font-size: 4em;
                font-weight: 700;
                color:$secondColor;
            }
        }
        &__text{
            z-index: 1; 
            font-size: 1.5em;
            line-height: 2;
            font-weight: 300;
            color:$thirdColor;
            text-align: center;
        }
        &__arrow{
            position: absolute;
            bottom: 60px;
            z-index: 0;
            a{
                border: none;
                cursor: pointer;
                text-decoration: none;
                background-color: transparent;
                span {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-bottom: 5px solid $thirdColor;
                    border-right: 5px solid $thirdColor;
                    transform: rotate(45deg);
                    margin: -16px 0;
                    animation: arrow 2s infinite;
                    &:nth-child(2){
                        animation-delay: -0.2s;
                    }
                    .arrow-7 span:nth-child(3){
                        animation-delay: -0.4s;
                    }
                }
            }       
        }
    }
    .clider{
        background-color: $thirdColor;
        width: 100%;
        height: auto;
        min-height: 50vh;
        display: flex;
        padding: 50px 0;
        align-items: center;
        &__title{
            h3{
                font-size: 2.5em;
                font-weight: 700;
                color:$mainColor;
                text-align: center; 
                position: relative;
                &:after{
                    content: ' ';
                    position: absolute;
                    width: 10%;
                    min-width: 150px;
                    height: 4px;
                    top:110%;
                    left:50%;
                    transform: translateX(-50%);
                    background-color: $secondColor;
                } 
                 
            }    
        }
        &__content{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            button{
                height: 40px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: $mainColor;
                transition: 0.6s all;
                &:active{
                    box-shadow:none;
                }
                &:focus{
                    outline: none;
                }
                i{
                    font-size: 2em;
                    color: $mainColor;
                }
                :hover{
                    color: $secondColor;
                    transition: 0.6s all;
                }
                &:not(:hover) i{
                    transition: 0.6s;
                }
            }
        }
        &__content-slides{
            display: flex;

            margin: 0 15px;
        }
        &__content-item{
            width: 260px;
            display: none;
            padding: 0px 10px;
            height: auto;
            &_active{
                display: flex;
                flex-direction: column;
            }
            img{
                width: 100%;
                height: auto;
            }
            &-text{
                text-align: center;
                margin-top: 10px;
                font-size: 1.5em;
            }
        }
        &__navigation{
            margin-top: 15px;
            display: flex;
            justify-content: center;
        }
        &__btn-point{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 10px 5px 0px;
            cursor: pointer;
            border: none;
            background-color: $mainColor;
            &_active{
                background-color: $secondColor;
            }
        }
    } 
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}
@media(max-width:768px){
    main{
        .header{
            &__title{   
                display: flex;   
                h1{
                    font-size: 2.5em;
                    font-weight: 700;
                    color:$thirdColor;
                }
            }
            &__subtitle{
                h3{
                    font-size: 2em;
                    font-weight: 700; 
                }
            }
            &__arrow{
                margin-top: 10%;

            }
        }
    }
}
footer{
    .footer{
        width: 100%;
        height: auto;
        min-height: 200px;
        display: flex;
        align-items: center;
        margin-top: auto;
        background-color: $mainColor;
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        &__link{
            display: flex;
            align-items: center;
            a{
                padding: 10px;
                margin: 0 5px;
                color: $thirdColor;
                border:2px solid $thirdColor;
                transition: 0.6s;
                &:hover{
                    color: $secondColor;
                    border:2px solid $secondColor;
                }
                &:not(:hover) i{
                    transition: 0.6s;
                }
                i{
                    font-size: 2em;
                    
                }
            }
           
        }
        &__rights{
            color: $thirdColor;
            margin-top: 20px;
            text-align: center;
            p{
                font-size: 1em;
            }
            
        }
    }

}
.container{
    width: 80%;
    margin: 0 auto;
}
